{
  "extends": "eslint-config-airbnb",
  "rules": {
    "no-console": 0,
    "no-alert": 0,
    "func-names": 0,
    "space-infix-ops": [0],
    "react/prefer-es6-class": [0],
    "react/prefer-stateless-function": [0],
    "import/no-unresolved": [0],
    "global-require": [0],
    "comma-dangle": 0,  // not sure why airbnb turned this on. gross.
  },
  "globals": {
    "__PREFIX_LINKS__": true,
  },
}
